
@{
    ViewBag.Title = "GioiThieu_59130033";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var ngay = DateTime.Now.ToString("dd/MM/yyyy");
}

<h2>THÔNG TIN SINH VIÊN</h2>
<div style="margin-left: 30px; font-size: 16px;">
    <table>
        <tr>
            <td><b>Tên sinh viên:</b></td>
            <td>Cao Quỳnh Anh</td>
        </tr>
        <tr>
            <td><b>Mã sinh viên:</b></td>
            <td>59130033</td>
        </tr>
        <tr>
            <td><b>Lớp:</b></td>
            <td>59.CNTT-1</td>
        </tr>
        <tr>
            <td><b>Ngày kiểm tra:</b></td>
            <td>@ngay</td>
        </tr>
    </table>
</div>

